#images-label {
    padding : 20px;
    margin: 20px;
    background-color: red;
}

#images-label:hover {
    cursor: pointer;
}

#images {
    opacity: 0.2;
    position: relative;
    z-index : 2;
}

#image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image {
    cursor: pointer;
    width: 200px;
    height: auto;
}

.image:active {
}